streamlit
python-dotenv
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-groq
faiss-cpu
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[pptx]
unstructured[html]
unstructured[md]
unstructured[json]
unstructured[epub]
